/* Button Styling */
.button {
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  color: #fff !important;
  text-transform: uppercase;
  background: #535353;
  cursor: pointer;
  border-radius: 3px;
}

.button.block {
  display: block;
  width: 100%;
}

.button.primary {
  background: #3fa7d6;
}
.button.primary:hover {
  background: #239bd3;
}

.button.secondary {
  background: #ee6352;
}
.button.secondary:hover {
  background: #e94c38;
}

.button.tertiary {
  background: #59cd90;
}
.button.tertiary:hover {
  background: #36ca7b;
}

.button.submit {
  background: #244618;
}
.button.submit:hover {
  background: #183010;
}
